* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.headsecone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1f2937;
}

#Logo {
  height: 80px;
  display: block;
}

.linksabove ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.linksabove ul li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.linksabove ul li a:hover {
  color: #007bff;
}

.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  gap: 30px;
}
.title {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  background-color: #1f2937;
  row-gap: 20px;
}
#imgg {
  height: 500px;
  width: auto;
}
.herotext {
  color: #e5e7eb;
  font-size: 18px;
}
#butsig {
  background-color: #3882f6;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
h2 {
  text-align: center;
  margin: 3px;
  padding: 3px;
  font-size: 36px;
  color: #1f2973;
  height: 100px;
}
.information {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  height: 500px;
}
.figureul {
  display: flex;
  list-style: none;
    gap: 30px;
}
.figure__image {
  width: 200px;
  border: 2px solid #3882f6;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  height: 200px;

}
.quote{
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #e5e7eb;
}
blockquote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.ekher{
    background-color: #3882f8;
    padding: 32px;
    margin: 64px auto;
    width: 50%;
    border-radius: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
.ekherhaja{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #f9faf8;
    flex: 1;
    min-width: 240px;
    
}
.haja{
    font-size: 24px;
    font-weight: 800;
}
.cssnakrhou{
    font-size: 16px;
    font-weight: 300;
}
.taalem{
    color: #e5e7eb;
    background-color: #3882f8;
    border: 3px solid #e5e7eb;
    width: 140px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}
#ff {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 24px;
    font-size: 14px;
}